body {
    background-color: #000a1f;
}

.container {
    margin: 100px 0px 0px 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: all ease-in-out 0.5s;
}
.container img:hover {
    width: 25%;
}